.nav_bar{
    text-align: center;
    margin-top:30px;
    
}

.inputArea{
    width:800px;
    margin:0 auto;
    margin-top:20px;

}
.pokemonName{
    text-align: center;
}
.dataArea{
    text-align: center;
}
.infoMation{
    border:1px solid skyblue;
    padding:20px;
    border-radius: 10px;
    font-weight: bold;

}
.dataArea{
    display: flex;
    align-items: center;
}